<section>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Create new food log</h2>
            <form action="/registry/new" method="POST">
                {{!-- <a href="/registry/new" class="btn btn-dark btn-block btn-lg">Create new log</a> --}}


                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date">
                </div>

                <div type="hidden" class="form-group">
                    <label for="owner"></label>
                    <p value="{{user._id}}">{{name}}</p>
                </div>
                <button type="submit" class="btn btn-dark btn-block btn-lg">Create log</button>
            </form>
        </div>
    </div>
</section>
<section>
    <h2>Select an existing log</h2>
    <div class="form-group">
        <form action="/app/registry" method="get">
            <label for="registries">Registries:</label>
            <select name="registry" class="form-control" id="registries-list">
                <option>Select</option>

                {{#each registries}}
                <option value="{{_id}}">{{date}}</option>
                {{/each}}
            </select>
            <button type="submit">Select</button>
        </form>
    </div>
</section>
<section>
    {{#if registry}}
    <pre>{{registry}}</pre>
    {{/if}}



    <h2>Search new item</h2>
    <form action="/app/registry" method="POST" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="searchTerm" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

        <table>
            <tr class="meal">
                <td class="picture">
                    <img src="{{photo.thumb}}" />
                </td>
                <td class="name">
                    {{food_name}}
                </td>

                <td id="mealWeight">

                    <input type="number" onchange="onMealWeightChange()" value="{{serving_weight_grams}}" min="0"
                        placeholder="{{serving_weight_grams}}">

                    <span>gr</span>

                </td>

                <td class="serving">

                    Serving:<span>{{serving_weight_grams}}</span>gr

                </td>

                <td class="calories">

                    serving:<span>{{nf_calories}}</span> kcal

                </td>

                <td class="totalCalories">

                    total calories: <span>0</span> kcal

                </td>


            </tr>
        </table>
        {{!-- ADD MEALS TO REGISTRY --}}
        <form action="/app/registry" method="post">
            <input type="hidden" name="name" value="{{food_name}}">
            <input type="hidden" id="amount_gr" name="amount_gr" value="">
            <input type="hidden" id="kcal" name="kcal" value="">
            <input type="hidden" name="image" value="{{photo.thumb}}">
            <button type="submit" id='mealsListButton' class="btn btn-dark btn-block btn-lg">Add this item to
                log</button>
        </form>
</section>
{{!-- CONTAINERS PARA CLONAR Y PINTAR LISTA DE MEALS NUEVOS --}}
<div class="mealContainer">
    <div class='mealList'>
        {{!-- <p>{{photo.thumb}}, {{food_name}}, {{serving_weight_grams}}, {{nf_calories}} </p> --}}
    </div>
</div>


<script src="/javascripts/calculator.js"></script>
<script src="/javascripts/mealsList.js"></script>

</div>
</div>