<div class="row justify-content-center">
    <div class="col-md-6">


        <form action="/app/search" method="POST" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="searchTerm" placeholder="Search"
                aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


            <a href="/registry/new" class="btn btn-dark btn-block btn-lg">Create new log</a>

            <div class="form-group">
                <label for="park-list">Registries:</label>
                <select name="registry" class="form-control" id="registries-list">
                    <option>Select</option>

                    {{#each registries}}
                    <option value="{{_id}}">{{date}}</option>
                    {{/each}}
                </select>
            </div>

            {{#if errorMsg}}
            <div id="errorMsg">{{{errorMsg}}}</div>
            {{/if}}
        </form>
    </div>
</div>

{{!-- DOM PARA AÑADIR LISTA DE MEALS NUEVOS --}}
{{!-- <div class='mealList'>
    <p>{{photo.thumb}}, {{food_name}}, {{serving_weight_grams}}, {{nf_calories}} </p>
</div> --}}