<main>

    {{!-- <form action="/app/" method="POST" class="form-inline active-cyan-3 active-cyan-4"></form> --}}
    <table>
        <tr class="meal">
            <td class="picture">
                <img src="{{photo.thumb}}" />
            </td>
            <td class="name">
                {{food_name}}
            </td>

            <td id="mealWeight">

                <input type="number" onchange="onMealWeightChange()" value="{{serving_weight_grams}}" min="0"
                    placeholder="{{serving_weight_grams}}">

                <span>gr</span>

            </td>

            <td class="serving">

                Serving:<span>{{serving_weight_grams}}</span>gr

            </td>

            <td class="calories">

                serving:<span>{{nf_calories}}</span> kcal

            </td>

            <td class="totalCalories">

                total calories: <span>0</span> kcal

            </td>


        </tr>
    </table>
    <form action="/meal/new" method="post">
        <input type="hidden" name="name" value="{{food_name}}">
        <input type="hidden" id="amount_gr" name="amount_gr" value="">
        <input type="hidden" id="kcal" name="kcal" value="">
        <input type="hidden" name="image" value="{{photo.thumb}}">
        <button type="submit" class="btn btn-dark btn-block btn-lg">Add this item to log</button>
    </form>

    <script src="/javascripts/calculator.js"></script>
</main>